---
const { author } = Astro.props;
const {
  nombre,
  programa,
  modalidad,
  imagen,
  redes
}: {
  nombre: string;
  programa: string;
  modalidad: string;
  imagen: string;
  redes?: [string, string][] | [];
} = author;

const redesArray = Object.entries(redes || {});
---

<div 
class="carousel-item flex flex-col items-center w-full h-full text-[#1B4583] gap-y-6 align-middle text-center " data-carousel-item
>
  <img src={`/softlab-web//img/authors/${imagen}`} alt="Imagen del autor" class="w-24 h-24 rounded-full mb-4"  />
  <p class="text-lg font-bold">{nombre}</p>
  <p class="text-lg font-bold">Programa</p>
  <p>{programa}</p>
  <p class="text-lg font-bold">Modalidad de grado</p>
  <p>{modalidad}</p>
  <div>
    {redesArray.map(([logo, link]) => (
      <a
        href={`${link}`}
        target="_blank"
        rel="noopener noreferrer"
        class="text-amber-400 font-bold text-lg  cursor-pointer"
      >
        <img class="hover:scale-110 transition-all duration-200 ease-in-out w-14 h-auto inline-block mx-2 object-contain" src={`/softlab-web/logos/social/${logo}.svg`} alt={`${logo}`} />
      </a>
    ))}
  </div>
</div>
<style>
  .carousel-item{
    background-color: rgba(245, 245, 245, 1);
    backdrop-filter: blur(20px);
    transition: all ease-in-out 0.2s;
    animation: fadeInSlideUp 0.5s ease-in-out;
}

@keyframes fadeInSlideUp {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0);
  }
}

</style>