---
import { prefetch } from "astro:prefetch";
import ProjectCard from "./ProjectCard.astro";
import { getCollection } from "astro:content";

const proyectos = await getCollection('proyectos')
---
<section id="proyectos" class="w-full h-auto flex flex-col items-center justify-between">
    <header class="w-full h-fit px-8 md:px-28 py-8 bg-[#1B4583] flex flex-col text-amber-50 gap-y-2.5 justify-center items-start">
        <h1 class="text-4xl md:text-5xl lg:text-6xl font-bold">Proyectos destacados.</h1>
        <p class="text-xl md:text-2xl lg:text-3xl font-light">Cada proyecto es el resultado del esfuerzo de estudiantes que hicieron del software un camino para graduarse y dejar huella.</p>
    </header>
    <div class="w-full px-10 md:px-14 lg:px-24 ">
        <div class="w-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
            {
                proyectos.map(proyecto => {
                    const{slug, data} = proyecto
                    const {img_autor, autor, programa, modalidad, social, img_producto, nombre_producto, descripcion, tecnologias} = data
                    const tecnologiasArray = Object.entries(tecnologias); 
                    const redesArray = Object.entries(social); 
                    
                    return (
                        <ProjectCard img_autor={img_autor}` autor = {autor} programa={programa} modalidad={modalidad} social={redesArray} img_producto = {img_producto}  nombre_producto={nombre_producto} descripcion={descripcion} tecnologias={tecnologiasArray} slug={slug}/>
                    )
                })
            }
        </div>
        
    </div>
    
    <footer class="flex flex-col mb-3 text-center max-w-[80%]">
        <img class="h-14 w-auto mx-auto" src="./medal_logo.svg" alt="Logo medalla">
        <p class=" font-light text-base sm:text-lg md:text-lg lg:text-xl xl:text-3xl">Estos proyectos son evidencia del compromiso, la creatividad y el talento de nuestros estudiantes en su proceso de formación profesional.</p>
    </footer>
</section>